body {
    margin: 0px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    box-shadow: 4px 4px 5px #888888;
    width: 400px;
    margin-top: 10px;
}
img {
width: 450px;
height: 300px;
margin: 10px;
transition: all 1s;
}
img:hover {
transform: scale(1.1);
}